node_modules/
www/
*.apk

android/.gradle/
android/.idea/
android/local.properties
android/app/google-services.json
android/app/build/
android/build/
android/app/src/main/assets/public/
# Arquivos gerados/local
supabase/.temp/
REVISAO_ESTRUTURA_DISB.txt
